name: Sync to Organization Repo

on:
  push:
    branches:
      - main

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to organization repo
        env:
          ORG_REPO_TOKEN: ${{ secrets.ORG_REPO_TOKEN }}
        run: |
          git remote add org https://x-access-token:${ORG_REPO_TOKEN}@github.com/EPIHACKBENIN/epihack_members.git
          git push org main --force
